<mat-drawer-container>
  <!--Make drawer width of 20% of screen-->
    <mat-drawer #drawer mode="over">
      <mat-nav-list>

        <ng-container *ngIf="currentUser != null">
          <mat-list-item>
            <mat-icon>person</mat-icon>
            <b>{{currentUser?.username}}</b> 
          </mat-list-item>
  
          <mat-divider></mat-divider>
        </ng-container>

        <a mat-list-item routerLink="/home" (click)="drawer.toggle()">
          <mat-icon matListIcon>home</mat-icon> Home 
        </a>

        <ng-container *ngIf="currentUser != null">
          <a mat-list-item (click)="drawer.toggle()">
            <mat-icon matListIcon>shopping_bag</mat-icon> Buy
          </a>
  
          <a mat-list-item (click)="drawer.toggle()">
            <mat-icon matListIcon>sell</mat-icon> Sell 
          </a>
        </ng-container> 

        <mat-divider></mat-divider>

        <a *ngIf="currentUser == null" mat-list-item routerLink="/login" (click)="drawer.toggle()">
          <mat-icon matListIcon>login</mat-icon> Login 
        </a>

        <a *ngIf="currentUser != null" mat-list-item routerLink="/login" (click)="drawer.toggle(); auth.currentUser.next(null)">
          <mat-icon matListIcon>logout</mat-icon> Logout
        </a>
      </mat-nav-list>
    </mat-drawer>
      
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/">Hawk NFT</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>
