.container {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 25px;
}