.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 30px;
}

.fees {
    height: 40px;
}

@media screen and (max-width: 768px) {
    .actions {
        flex-direction: column;
        margin-top: 25px;
    }
}

#price-input {
    margin-top: 30px;
    width: 100%;
}

.cancel-button {
    background-color: #ff3c00;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.sell-button {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
}

h1 {
    font-size: 2em;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}