<div class="modal" *ngIf="confirmMode">
    <h1>Are you sure you want to put this NFT up for sale?</h1>
    <h2>Once it's on the market, you can't take it down.</h2>
    <h3>You can still download the NFT while it is unsold.</h3>
    <div class="actions">
        <button mat-raised-button class="sell-button" (click)="putUpForSale()">
            Put NFT Up For Sale
        </button>

        <button mat-raised-button class="cancel-button" (click)="cancel()" autofocus>
            Cancel
        </button>
    </div>
</div>

<div class="modal" *ngIf="!confirmMode">
    <h1>Enter the market price of the NFT (USD)</h1>
    <mat-form-field id="price-input" appearance="fill">
        <input matInput [(ngModel)]="price" placeholder="Enter the price of the NFT" type="number">
    </mat-form-field>
    <div class="fees">
        <h2 *ngIf="parseInt(price)">
            Estimated Profit: ${{((parseFloat(parseFloat(price).toFixed(2)) * 0.85) - (storage.nftToSell!.price!))}}
            <mat-icon matTooltip="We take a 15% cut of all NFTs sold on the platform.">info</mat-icon>
        </h2>
    </div>
    <div class="actions">
        <button mat-raised-button class="sell-button" (click)="confirmPrice()" [disabled]="!parseInt(price)">
            Confirm Price
        </button>

        <button mat-raised-button class="cancel-button" (click)="cancel()" autofocus>
            Cancel
        </button>
    </div>
</div>

