/*A container with the title, description and an image of the NFT site*/
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px;
  gap: 50px;
}

/*Make intro container flex direction column on mobile*/
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
}

/*Make Intro text align center on mobile*/
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

.box {
  width: 350px;
  height: 350px;
  border-radius: 25px;
  padding: 0px;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.demo-display {
  height: 275px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-left: -15%;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  flex-direction: row;
}

/*Actions flex align center on mobile*/
@media screen and (max-width: 768px) {
  .actions {
    flex-direction: column;
    align-items: center;
  }
}

.subtitle {
  width: 400px;
}

/*Make Subtitle width 350px on mobile*/
@media screen and (max-width: 768px) {
  .subtitle {
    width: 350px;
  }
}

.login-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .onleft {
    margin-right: 250px;
  }

  .onright {
    margin-left: 50px;
  }
}

.rocketpic {
  height: 350px;
  border-radius: 25px;
  margin-left: -35%;
}

.nftpic {
  height: 350px;
  border-radius: 25px;
  margin-left: -15%;
}