<div class="container">
    <div class="info-text">
        <h1>Discover and invest in amazing NFTs</h1>
        <br>
        <div class="subtitle">
            <h2>Hawk NFT is the official NFT fundraiser for HSEnd Austin's Rocketry club.
                
            </h2>
        </div>
        <div class="actions">
            <button mat-raised-button (click)="login()" class="login-button" color="primary">Login With Google</button>
            <p>By registering, you agree to the <a routerLink="/tos">Terms and Conditions</a>.</p>
        </div>
    </div>
    <mat-card class="box">
        <img class="demo-display" src="https://i.redd.it/h5zhtlt9s7r01.jpg">
        <h2 class="demo-subtitle"><i><b>Genesis</b></i> by the Hawk NFT Team</h2>
    </mat-card>
</div>
<hr>
<div class="container" id="about">
    <mat-card class="box onleft">
        <img class="nftpic" src="https://i.insider.com/6123e07e4932030018457fb7?width=1136&format=jpeg">
    </mat-card>
    <div class="info-text">
        <h1>What's an NFT?</h1>
        <br>
        <div class="subtitle">
            <h2>
                NFT stands for Non-Fungible Token. In a nutshell, it's a piece of digital art that you actually own and can resell for a profit.
            </h2>
        </div>
    </div>
</div>
<hr>
<div class="container" id="about">
    <div class="info-text">
        <h1>Support HSEnd Austin's Rocketry Team</h1>
        <br>
        <div class="subtitle">
            <h2>
                HSEnd's Rocketry Team is a student-run rocketry club run by students at Harmony School of Endeavor-Austin. We created
                Hawk NFT to raise funds for our club's expenses so we can send our rockets to the Nationals.
            </h2>
        </div>
    </div>
    <mat-card class="box onright">
        <img class="rocketpic" src="https://i.ytimg.com/vi/1yBwWLunlOM/maxresdefault.jpg">
    </mat-card>
</div>
