<div class="container">
    <div class="info-text">
        <h1>Discover, collect, and resell amazing NFTs</h1>
        <br>
        <div class="subtitle">
            <h2>Hawk NFT is the official NFT fundraiser for HSEnd Austin's Rocketry club.
                
            </h2>
        </div>
        <div class="actions">
            <button mat-raised-button (click)="login()" class="login-button" color="primary">Login With Google</button>
        </div>
    </div>
    <mat-card class="box">
        <img class="demo-display" src="https://i.redd.it/h5zhtlt9s7r01.jpg">
        <h2 class="demo-subtitle"><i><b>Genesis</b></i> by the Hawk NFT Team</h2>
    </mat-card>
</div>
<hr>
<div class="container" id="about">
    <mat-card class="box onleft">
        <img class="rocketpic" src="https://i.ytimg.com/vi/1yBwWLunlOM/maxresdefault.jpg">
    </mat-card>
    <div class="info-text">
        <h1>Support HSEnd's Rocketry Team</h1>
        <br>
        <div class="subtitle">
            <h2>
                HSEnd's Rocketry Team is a student-run rocketry club run by students at Harmony School of Endeavor-Austin. We created
                Hawk NFT to raise funds for our club's expenses so we can send our rockets to the Nationals.
            </h2>
        </div>
    </div>
</div>