
<div id="nft-header-container">
    <!--Shows the NFT image in a material card next to the title and description-->
    <mat-card id="nft-image-container">
        <ng-container *ngIf="nft.owner == authService.currentUser.value?.id">
            <img [src]="nftService.getNftLocation(nft.id)" width = "200px">
        </ng-container>
        <ng-container *ngIf="nft.owner != authService.currentUser.value?.id">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png" width = "200px">
        </ng-container>
    </mat-card>
    <div id="nft-title-container">
        <h1>{{nft.name}}</h1>
        <br><br>
        <h2>{{nft.description}}</h2>
    </div>
</div>
<div id="actions">
    <button mat-raised-button id="buy-button" *ngIf="authService.currentUser.value?.id != nft.owner">
        Buy NFT for ${{nft.price}}
    </button>
    <button mat-raised-button id="sell-button" *ngIf="authService.currentUser.value?.id == nft.owner && nft.forSale == false">
        Put NFT Up For Sale
    </button>
    <h2 *ngIf="authService.currentUser.value?.id == nft.owner && nft.forSale">
        <i>This NFT is currently for Sale.</i>
    </h2>
</div>